
.generate-button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 4px;
  height: 30px;
}

.generate-button:hover {
  background-color: black;
  color: white;
}

line{
	stroke:grey;
}
@media only screen and (max-width: 400px) {
  .graph {
    transform: translate(55px,50px);
  }
  .group{
    font-size: 12px;
    font-weight: 700;
  }
  .love{
    bottom: 0px;
    right: 15px;
  }
  text{
    font-size:12px;
  }
  #main {
    text-align: center;
    height: 90vh;
    width: 100vw;
  }
  #algorithm-graph-img{
    width: 80vw;
  }
  #algorithm-graph-title{
    margin-left: 25px;
    margin-right: 25px;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 400px) {
  .graph {
    transform: translate(60px,50px);
  }
  .group{
    font-size: 12px;
    font-weight: 700;
  }
  .love{
    bottom: 0px;
    right: 15px;
  }
  text{
    font-size:12px;
  }
  #main {
    text-align: center;
    height: 90vh;
    width: 100vw;
  }
  #algorithm-graph-title{
    margin-left: 25px;
    margin-right: 25px;
  }
  #algorithm-graph-img{
    width: 80vw;
  }
}
@media only screen and (min-width: 1000px) {
  .graph {
    transform: translate(210px,100px);
  }
  .group{
    font-size: 18px;
    font-weight: 700;
  }
  .love{
    position: fixed;
    bottom: 0px;
    right: 15px;
  }
  text{
    font-size:18px;
  }
  #main {
    text-align: center;
    height: 80vh;
    width: 100vw;
  }
}